<div class="field has-addons">
    <div class="control is-expanded">
        <input class="input is-fullwidth relationship-subform__character" readonly="readonly" data-target="character-relationships-character.characterName" />
    </div>
    <div class="control">
        <button type="button" class="button is-link" data-action="character-relationships-character#selectCharacter">Change character</button>
    </div>
</div>
