<div class="section login-section">
    <%= form_for LoginInfoForm.new, url: sign_in_path do |f| %>
        <div class="field">
            <div class="control">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            </div>
        </div>
        <div class="field">
            <%= f.submit "Login via #{Settings.omniauth.provider.to_s.capitalize}", class: 'button is-primary' %>
        </div>
    <% end %>
</div>
