<% if policy(f.object).set_athenaeum? %>
    <div class="field">
        <div class="control">
            <%= f.label :athenaeum_character, class: 'checkbox' do %>
                <%= f.check_box :athenaeum_character %>
                <span>Is an athenaeum character?</span>
            <% end %>
        </div>
    </div>
<% end %>

<div class="field">
    <div class="control">
        <%= f.label :hidden, class: 'checkbox' do %>
            <%= f.check_box :hidden %>
            <span>Hide the character? Only you will be able to see it</span>
        <% end %>
    </div>
</div>

<div class="field">
    <%= f.label :name, class: 'label' %>
    <div class="control">
        <%= f.text_field :name, class: 'input', required: true %>
    </div>
</div>

<div class="box">
    <div class="field">
        <%= f.label :picture_url %>
        <div class="control">
            <%= f.text_field :picture_url, class: 'input' %>
        </div>
    </div>
    <p>
        <strong>Hey! If you have a source for that character pic, please do link it here!</strong>
    </p>
    <div class="field">
        <%= f.label :picture_source_url %>
        <div class="control">
            <%= f.text_field :picture_source_url, class: 'input' %>
        </div>
    </div>
</div>

<div class="field">
    <%= f.label :species %>
    <div class="control">
        <%= f.text_field :species, class: 'input', required: true %>
    </div>
</div>

<div class="field">
    <%= f.label :role %>
    <div class="control">
        <%= f.text_field :role, class: 'input', required: true %>
    </div>
</div>

<div class="field">
    <%= f.label :bio %>
    <div class="control">
        <%= f.text_area :bio, rows: 20, class: 'textarea' %>
    </div>
    <p><%== Settings.forms.hints.markdown %></p>
</div>
