<%= form_for @character do |f| %>
    <div class="tabs">
        <ul>
            <li><a href="#base_form">Base info</a></li>
            <li><a href="#relationships_form">Relationships</a></li>
        </ul>
    </div>

    <section id="base_form">
        <%= render partial: "base_form", locals: { f: f } %>
    </section>
    <section id="relationships_form" class="field character-relationships-form" data-controller="character-relationships-form">
        <div class="level is-mobile">
            <div class="level-left">
                <h2 class="title level-item is-3">Relationships (β)</h2>
            </div>
        </div>
        <div class="character-relationships-form__container" data-target="character-relationships-form.container">
            <%= render partial: "relationships_form", locals: { f: f } %>
        </div>
    </section>

    <div class="field">
        <div class="control">
            <%= f.submit class: 'button is-success' %>
        </div>
    </div>
<% end %>
