<div class="tabs">
    <ul>
        <% CharactersIndex::GROUPERS.each do |name, grouper| %>
            <li class="<%= 'is-active' if grouper.name == @grouper %>">
                <%= link_to name.capitalize, { group_by: name, new_design: params[:new_design] } %>
            </li>
        <% end %>
    </ul>
</div>

<div class="character-index-goto-list">
    <span class="has-text-weight-bold is-inline-block character-index-goto-list__title">Go to:</span>
    <div class="buttons character-index-goto-list__buttons">
        <% @characters.keys.each do |group_val| %>
            <%= characters_group_item(group_val) %>
        <% end %>
    </div>
</div>
