<section class="box" id="<%= title.key %>">
    <header class="character-index__header">
        <h2 class="is-size-4 has-text-weight-bold"><%= title %></h2>
        <a href="#" class="top-link">To top</a>
    </header>
    <ul class="character-index__container">
        <%= render partial: 'index_item', collection: characters, as: :character %>
    </ul>
</section>
