<% cache [character, character.token_flags.join(','), character.actions.join(',')] do %>
    <%= content_tag :li, class: character.item_classes do %>
        <header class="character-index-item__header">
            <span class="character-index-item__title">
                <%= link_to character.name, character_path(character) %>
                <span>by&nbsp;<%= character.author.display_name %></span>
            </span>

            <%== character.tokens %>
        </header>
        <figure class="character-index-item__img-container image">
            <%= character.character_image_link %>
        </figure>
        <div class="character-index-item__content">
            <div class="character-index-item__description">
                <span><%= character.species %></span>
                <span><%= character.role %></span>
            </div>
        </div>
        <% if character.actions.present? %>
            <footer>
                <% character.actions.each do |action| %>
                    <%= character.links[action] %>
                <% end %>
            </footer>
        <% end %>
    <% end %>
<% end %>
