<% other_mode = mode == :left ? :right : :left %>

<div class="is-hidden relationship-subform__idx"><%= ff.index %></div>
<% if ff.object.persisted? %>
    <%= ff.hidden_field :id %>
    <%= ff.hidden_field :_destroy %>
<% end %>

<div class="field relationship-subform__rel1">
    <div class="control">
        <%= ff.text_field :"label_#{mode}", class: :input, required: true %>
    </div>
</div>
<div class="has-text-centered relationship-subform__of">of</div>
<div class="field is-grouped relationship-subform__character">
    <div class="control is-expanded" data-controller="character-relationships-character" data-character-name="<%= ff.object.send("character_#{other_mode}")&.name %>">
        <%= ff.text_field :"character_#{other_mode}_id", class: :input, data: { target: 'character-relationships-character.input' } %>
    </div>
</div>
<div class="field relationship-subform__rel2">
    <div class="control has-icons-left has-icons-right">
        <%= ff.text_field :"label_#{other_mode}", class: :input, required: true %>
        <span class="icon is-small is-left">(</span>
        <span class="icon is-small is-right">)</span>
    </div>
</div>
<div class="relationship-subform__delete-btn">
    <%= character_relationship_delete_btn(ff.object) %>
</div>

<hr class="is-hidden-tablet relationship-subform__hr" />
