<%= f.fields_for :left_character_relationships do |ff| %>
    <%= render partial: "relationships_subform", locals: { ff: ff, mode: :left } %>
<% end %>

<%= f.fields_for :right_character_relationships do |ff| %>
    <%= render partial: "relationships_subform", locals: { ff: ff, mode: :right } %>
<% end %>

<%= button_tag 'Add relationship', type: :button, class: 'button is-primary character-relationships-form__add-rel-btn', data: { target: 'character-relationships-form.addButton', action: 'character-relationships-form#addRelationship' } %>

<template data-target="character-relationships-form.relationshipTemplate">
    <%= f.fields_for :left_character_relationships, @character.left_character_relationships.new do |ff| %>
        <%= render partial: 'relationships_subform', locals: { ff: ff, mode: :left } %>
    <% end %>
</template>

<div class="modal" tabindex="-1" role="dialog" id="character_select_modal" data-controller="character-relationships-modal" data-action="keydown->character-relationships-modal#close changecharacter->character-relationships-modal#open" data-search-url="<%= api_characters_search_path %>">
    <div class="modal-background"></div>
    <button type="button" class="modal-close is-large" data-dismiss="modal" aria-label="Close" data-action="click->character-relationships-modal#close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content">
        <div class="modal-body">
            <div class="box">
                <div class="field">
                    <label for="character_name_prefix"></label>
                    <div class="control">
                        <input class="input" data-target="character-relationships-modal.prefixInput" data-action="input->character-relationships-modal#searchPrefix" id="character_name_prefix" type="text" name="character_name_prefix" />
                    </div>
                </div>
                <div data-target="character-relationships-modal.minPrefixDisplay">
                    Enter at least <span data-target="character-relationships-modal.minPrefixSpan">3</span> characters to display the list
                </div>
                <div class="has-text-centered is-hidden" data-target="character-relationships-modal.displaySpinner">
                    <div class="spinner"></div>
                </div>
                <div class="panel is-hidden" data-target="character-relationships-modal.resultsPanel">
                </div>
            </div>
        </div>
    </div>
</div>
