<%= form_for @search_form, url: { action: :index }, method: :get, as: :q do |f| %>
    <%= f.hidden_field :author_id %>
    <div class="columns is-mobile">
        <div class="field column">
            <div class="control">
                <%= f.text_field :search, placeholder: 'Search by character name', class: 'input' %>
            </div>
        </div>

        <div class="field column buttons is-narrow">
            <%= link_to 'Reset', { action: :index, q: nil }, class: 'button is-warning' %>
            <%= f.submit 'Search', class: 'button is-info' %>
        </div>
    </div>
<% end %>

<div class="columns">
    <div class="column is-narrow">
        <span class="subtitle is-5">Filter by author</span>
    </div>
    <div class="column">
        <div class="buttons">
            <%= link_to 'All', { action: :index, q: search_params.except(:author_id) }, class: 'button is-warning' %>
            <% @authors.each do |author| %>
                <%= link_to author.display_name, { action: :index, q: search_params.merge(author_id: author.id) }, class: ['button', 'is-info', ('is-outlined' unless @search_form.author_id == author.id)].compact %>
            <% end %>
        </div>
    </div>
</div>
