<header class="header">
    <h1 class="title">Characters list</h1>
    <div class="field">
        <%= link_to 'New character', new_character_path, class: 'button is-success' %>
    </div>
    <div>
        <%= render 'search_form' %>
    </div>
</header>

<% if @characters.present? %>
    <section class="section characters-index">
        <%= paginate @characters.object, views_prefix: 'front' %>

        <ul class="character-index__container">
            <%= render partial: 'index_item', collection: @characters, as: :character %>
        </ul>

        <%= paginate @characters.object, views_prefix: 'front' %>
    </section>
<% else %>
    <p class="subtitle is-5 has-text-centered">Sorry, no characters found</p>
<% end %>
