<article class="character-show is-clearfix">
    <header class="header">
        <h1 class="title">
            <%= @character.name %>
            <small>by <%= @character.author.display_name %></small>
        </h1>
        <h2 class="has-text-grey"><%= @character.species %> • <%= @character.role %></h2>
    </header>
    <% if @character.picture_url.present? %>
        <figure class="image is-pulled-left character-show__pic">
            <a href="<%= @character.picture_url %>">
                <img src="<%= @character.picture_url %>"/>
            </a>
            <% if @character.picture_source_url.present? %>
                <figcaption class="has-background-light is-inline-block"><a href="<%= @character.picture_source_url %>">Source</a></figcaption>
            <% end %>
        </figure>
    <% end %>

    <div class="content character-show__bio">
        <%# TODO: think of better cache key %>
        <% cache [@character, :bio] do %>
            <%= UserText.process_md(@character.bio) %>
        <% end %>

        <ul>
            <% @character.relationships.each do |label, char| %>
                <li>
                    <span><%= label.capitalize %>:&nbsp;</span><%= link_to char.name, character_path(char) %>
                </li>
            <% end %>
        </ul>
    </div>
    <% if policy(@character).edit? %>
        <%= link_to edit_character_path(@character), class: 'button is-link' do %>
            <%= octicon(:pencil) %>
            <span>&nbsp;Edit</span>
        <% end %>
    <% end %>
    <% if policy(@character).destroy? %>
        <%= link_to character_path(@character), method: :delete, class: 'button is-danger', data: {confirm: 'Are you sure you want to delete this character?'} do %>
            <%= octicon(:trashcan) %>
            <span>&nbsp;Delete</span>
        <% end %>
    <% end %>
</article>
