$purple: hsl(327, 73%, 35%);
$grey-bg: #68594d;

$primary: $purple;

$section-padding: 1rem;
$section-padding-medium: 3rem 1rem;
$section-padding-large: 6rem 1rem;

$footer-padding: 1.5rem 1.5rem 2rem;
