<p>All characters are © their authors</p>
<p><a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a></p>
<p>Site code and custom design elements are © Artemiy Solopov, 2017–2022</p>
