<%= bootstrap_form_for @page, as: :page, url: { action: :update }, method: :patch do |f| %>
    <%= f.text_area :content, rows: 20, hint_html: Settings.forms.hints.markdown %>
    <%= f.submit type: 'success' %>
<% end %>
