<dl class="row">
    <dt class="col-sm-12 col-md-4">Markdown code</dt>
    <dd class="col-sm-12 col-md-8">
        <div class="card">
            <div class="card-body">
                <pre><%= @page.content %></pre>
            </div>
        </div>
    </dd>

    <dt class="col-sm-12 col-md-4">Compiled content</dt>
    <dd class="col-sm-12 col-md-8">
        <article class="card">
            <div class="card-body">
                <%= UserText.process_md(@page.content) %>
            </div>
        </article>
    </dd>

    <dt class="col-sm-12 col-md-4">Last updated</dt>
    <dd class="col-sm-12 col-md-8">
        <% if @page.updated_at %>
            <time datetime="<%= @page.updated_at.iso8601 %>">
                <%= l(@page.updated_at) %>
            </time>
        <% else %>
            &mdash;
        <% end %>
    </dd>
</dl>

<div class="row actions">
    <div class="col">
        <%= edit_link edit_admin_pages_front_page_path, title: 'Edit front page' %>
    </div>
</div>
