@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
$title-font: 'Lora';

.navbar-brand, h1 {
    font-family: $title-font, 'sans-serif';
    font-variant: small-caps;
}
