<tr>
    <td><%= character.id %></td>
    <td>
        <%# TODO: extract into helpers %>
        <% if character.athenaeum_character? %>
            <abbr title="Athenaeum character">A</abbr>
        <% end %>

        <% if character.hidden? %>
            <abbr title="Hidden"><%= octicon('eye-closed') %></abbr>
        <% end %>
    </td>
    <td>
        <%= link_to character_path(character), target: '_blank' do %>
            <%= octicon(:link) %>
        <% end %>
    </td>
    <td><%= character.author_name %></td>
    <td><%= character.name %></td>
    <td><%= character.species %></td>
    <td><%= character.role %></td>
    <td><%= I18n.l character.created_at, format: :short %></td>
    <td class="actions-cell">
        <%= edit_link(edit_admin_character_path(character)) %>&nbsp;
        <%= delete_link(admin_character_path(character), class: '') %>
    </td>
</tr>
