<div class="row">
    <div class="col-sm-12">
        <%= bootstrap_form_for @character, url: url do |f| %>
            <div class="form-check">
                <%= f.label :athenaeum_character, class: 'form-check-label' do %>
                    <%= f.check_box :athenaeum_character %>
                    <span>Is an athenaeum character?</span>
                <% end %>
            </div>
            <div class="form-check">
                <%= f.label :hidden, class: 'form-check-label' do %>
                    <%= f.check_box :hidden %>
                    <span>Is hidden?</span>
                <% end %>
            </div>
            <%= f.select :author_id, User.order(:display_name).map { |u| [u.display_name, u.id] } %>
            <%= f.text_field :name %>
            <%= f.text_field :picture_url %>
            <%= f.text_field :picture_source_url %>
            <%= f.text_field :species %>
            <%= f.text_field :role %>
            <%= f.text_area :bio, rows: 20, hint_html: Settings.forms.hints.markdown %>
            <%= f.submit type: :primary %>
        <% end %>
    </div>
</div>
