<div class="row pb-2">
    <div class="col-sm-12">
        <%= link_to 'New character', new_admin_character_path, class: 'btn btn-success' %>
    </div>
</div>

<%= admin_paginator @characters %>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Link</th>
                    <th><%= sort_link 'Author', :author_name %></th>
                    <th><%= sort_link 'Name', :name %></th>
                    <th><%= sort_link 'Species', :species %></th>
                    <th><%= sort_link 'Role', :role %></th>
                    <th><%= sort_link 'Created at', :created_at %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%= render @characters %>
            </tbody>
        </table>
    </div>
</div>
