@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/derived-variables';

.character-relationships-form {
  max-width: 1200px;

  &__toggle-switch {
    color: $info;
    transition: transform 0.2s;
  }

  &.is-closed &__container {
    display: none;
  }

  &.is-closed &__toggle-switch {
    transform: rotate(90deg);
  }

  &__add-rel-btn {
    grid-column: 1 / span 1;
  }

  &__container {
    display: grid;
    grid-gap: 1rem;

    grid-template-columns: 1fr 5rem;

    @media(min-width: $tablet) {
      grid-template-columns: 2fr fit-content(2rem) 3rem 3fr;
    }

    @media(min-width: $desktop) {
      grid-template-columns: 1fr fit-content(2rem) 2fr 1fr auto;
    }
  }
}

.relationship-subform {
  &__character {
    grid-column: 1 / -1;
  }

  &__hidden-char-input {
    visibility: collapse;
    position: absolute;
    width: 0;
  }

  &__hidden-char-input:invalid ~ .field &__character {
    border-color: $danger;
  }

  &__delete-btn {
    grid-column: 2 / -1;
  }

  &__hr {
    grid-column: 1 / -1;
    background-color: $grey;
    margin: 0 0 0.5rem;
  }

  @media(min-width: $tablet) {
    &__rel1, &__rel2 {
      grid-column: 1 / span 1;
    }

    &__character {
      grid-column: auto / span 2;
    }

    &__delete-btn {
      grid-column: 2 / span 2;
    }
  }

  @media(min-width: $desktop) {
    &__rel1, &__character, &__rel2, &__delete-btn {
      grid-column: auto / span 1;
    }
  }

  // hr {
  // }
}
