@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/derived-variables';

$item-margin: 0.5em;

.character-index {
    &__header {
        border-bottom: 2px solid $border;
        display: flex;
        justify-items: baseline;
        justify-content: space-between;
    }

    &__container {
        display: grid;

        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
        grid-gap: $item-margin;

        padding: (2 * $item-margin) 0;
        margin: 0;
        list-style: none;
    }
}

.character-index-item {
    $char-ii-padding: 0.5em;

    display: flex;
    flex-direction: column;

    border: 1px solid $border;
    border-radius: $radius-large;

    footer {
        padding: $char-ii-padding;
        margin-top: auto;
        text-align: right;
    }

    &__header {
        padding: $char-ii-padding;
        align-items: center;
        border-bottom: 1px solid $border;
    }

    &__content {
        padding: 1rem;
    }

    &__description {
        span:not(:last-child)::after { content: ',' }
    }

    &__img {
      aspect-ratio: 3 / 4;
      object-fit: cover;
    }

    &.is-hidden-character {
        background: change-color($grey-lighter, $alpha: 0.5);
    }
}

.character-index-goto-list {
    $buttons_hz_padding: 0.3em;
    margin-bottom: 0.25em;

    @media screen and (min-width: (0.8 * $tablet)) {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;

        &__title {
            flex: 0 0 auto;
            margin-right: (2 * $buttons_hz_padding);
        }

        &__buttons {
            flex: 1 0 calc(100% - 5em);
        }
    }

    &__buttons {
        .button {
            padding-left: $buttons_hz_padding;
            padding-right: $buttons_hz_padding;
        }
    }
}
