@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/derived-variables';

.character-show {
  &__pic {
    position: relative;
    padding: 1em;

    img {
      width: 400px;
      max-width: 100%;
    }

    figcaption {
      position: absolute;
      bottom: 1em;
    }
  }

  & &__bio {
    margin: 1.5rem 0;
  }
}

