@import '~bulma/sass/utilities/initial-variables';

.spinner {
  height: 2rem;
  width: 2rem;
  border: 0.5rem solid $blue;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
};