<nav class="navbar <%= navbar_class %> navbar-expand-md">
    <%= link_to brand_title, brand_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavs" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavs">
        <ul class="navbar-nav mr-auto">
            <%= yield :navbar_left %>
        </ul>
        <ul class="navbar-nav mr-2">
            <%= yield :navbar_right %>
        </ul>
    </div>
</nav>
