<%= bootstrap_form_for @user, url: url, data: { controller: 'user-form' } do |f| %>
    <%= f.text_field :display_name %>
    <%= f.select :user_type, enumerize_select_options(User.user_type) %>
    <div class="row">
        <div class="col-md-8 col-lg-4">
            <%= f.text_field :invite_code, data: { target: 'user-form.inviteCodeInput' } %>
        </div>
        <div class="col-md-3 col-lg-2">
            <%= label_tag 'generate', '&nbsp;'.html_safe %>
            <div>
                <%= link_to 'Generate', invite_code_admin_users_path, class: 'btn btn-info', id: 'generate_invite_code', 'data-action': 'user-form#generateInviteCode' %>
            </div>
        </div>
    </div>
    <div class="form-check">
        <%= f.label :blocked, class: 'form-check-label' do %>
            <%= f.check_box :blocked %>
            Block user
        <% end %>
    </div>
    <div>
        <%= f.submit class: 'btn btn-success' %>
    </div>
<% end %>
