<div class="row mb-2">
    <div class="col-sm-12">
        <%= link_to 'Add user', new_admin_user_path, class: 'btn btn-success' %>
    </div>
</div>

<%= admin_paginator(@users) %>

<div class="row" data-controller="user-invite-links">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th><%= sort_link '#', :id %></th>
                    <th><%= sort_link 'Display name', :display_name %></th>
                    <th class="d-none d-md-table-cell">User type</th>
                    <th class="d-none d-md-table-cell"><%= sort_link 'Last login time', :last_login %></th>
                    <th class="d-none d-md-table-cell">Invite link</th>
                    <th class="d-none d-md-table-cell"><%= sort_link 'Is blocked', :blocked %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= link_to user.display_name, admin_user_path(user) %></td>
                        <td class="d-none d-md-table-cell"><%= user.user_type_text %></td>
                        <td class="d-none d-md-table-cell"><%= user.last_login ? I18n.l(user.last_login, format: :short) : '—' %></td>
                        <td class="d-none d-md-table-cell">
                            <%= invite_code_button(user) %>
                        </td>
                        <td class="d-none d-md-table-cell"><%= user.blocked? ? 'BLOCKED' : 'Active' %></td>
                        <td class="actions-cell">
                            <%= edit_link({ action: :edit, id: user.id }) %>&nbsp;
                            <%= delete_link({ action: :destroy, id: user.id }, class: '') %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="modal" tabindex="-1" role="dialog" data-target="user-invite-links.modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" data-target="user-invite-links.modalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" data-target="user-invite-links.modalBody">
                </div>
            </div>
        </div>
    </div>
</div>
