<h1>
    User profile #<%= @user.id %>
    <% if @user.blocked? %>
        <small class="text-danger">BLOCKED</small>
    <% end %>
</h1>

<table class="table user-show-table">
    <% @user.show_fields.each do |title, value| %>
        <tr>
            <th><%= title %></th>
            <td><%= value %></td>
        </tr>
    <% end %>
</table>
