<%- if flash[:notice] %>
    <div class="notification flash-notification is-success">
        <button class="delete"></button>
        <%= flash[:notice] %>
    </div>
<% end %>

<%- if flash[:alert] %>
    <div class="notification flash-notification is-danger">
        <button class="delete"></button>
        <%= flash[:alert] %>
    </div>
<% end %>
