<nav class="navbar is-light" role="navigation" aria-label="main navigation" id="topNavbar">
  <div class="navbar-brand">
    <%= link_to brand_path, class: 'navbar-item' do %>
      <span class="is-size-4 has-text-weight-bold"><%= brand_title %></span>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="estateNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="estateNavbar" class="navbar-menu">
    <div class="navbar-start"><%= content_for :navbar_start %></div>
    <div class="navbar-end"><%= content_for :navbar_end %></div>
  </div>
</nav>
