<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%= csrf_meta_tags %>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <%= stylesheet_link_tag    'admin/application', media: 'all' %>
        <%= javascript_include_tag 'shared' %>
        <%= javascript_include_tag 'admin/application' %>

        <%= javascript_pack_tag 'admin' %>
    </head>

    <body>
        <%= content_for :navbar_left do %>
            <%= navbar_link('User interface', root_path, color: :info) %>
            <%= navbar_link('Users', admin_users_path) %>
            <%= navbar_link('Characters', admin_characters_path) %>
            <%= navbar_link('Front page', admin_pages_front_page_path) %>
        <% end %>

        <%= content_for :navbar_right do %>
            <%= navbar_text(current_user&.display_name) %>
            <%= navbar_link('Logout', logout_path, color: :danger, method: :delete) %>
        <% end %>

        <%= render 'shared/navbar/base', brand_title: Settings.strings.admin.brand_title, brand_path: admin_root_path, navbar_class: 'navbar-dark bg-dark' %>

        <main class="container mt-3">
            <%= render 'shared/flashes' %>
            <%= yield %>
        </main>

        <%= render 'shared/footer' %>
    </body>
</html>
